<div class="viewContainer htmlPage">
    <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
    <div class="row">
        <div class="pageText col-sm-7">
            <h3 class="subHeader text-center">Some basic html tags</h3>
            <p>
                This page will explain some of the basic html tags and how they should be used.
            </p>
            <h4 class="underHeader">The &ltp&gt tag</h4>
            <p>
                This is the most basic tag. It is a <em>paragraph</em> tag. This tag is used for placing basic paragraphs of text on the
                screen.
            </p>
            <h4 class="underHeader">The heading tags</h4>
            <p>
                There are six types of heading in html. They range from &lth1&gt to &lth6&gt, with &lth1&gt being the largest and &lth6&gt
                being the smallest.
            </p>
            <h4 class="underHeader">The &lthr&gt tag</h4>
            <p>
                The &lthr&gt tag stands for <em>Horizontal Rule</em> and is used for placing a horizontal line across the page.
            </p>
            <h4 class="underHeader">Example using the above tags</h4>
            <p>
                The button below links to a page made with the tags above. The horizontal rule is the line across the center of the screen. Again, right-click and <em>view page source</em> to see the source
                code for the page.
            </p>
            <a class="btn btn-primary" href="/src/partials/examples/example02.html" target="_blank">Example02</a>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/htmlNav.html'"></div>
        </div>
    </div>
</div>