<div class="viewContainer htmlPage">
    <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
    <div class="row">
        <div class="pageText col-sm-7">
            <h3 class="subHeader text-center">Including CSS</h3>
            <p>
                There are several ways to include CSS in your website. The most common way is by using an external stylesheet, but
                we will explain them all here.
            </p>
            <h4 class="underHeader">Inline Styling</h4>
            <p>
                Inline styling is the easiest way to add style to a page, but it is very limited in what it can do. Inline styling
                is applied directly to the element. Inline styling can be useful when a small amount of style is needed. An example would
                be, if you wished to turn a paragrapgh red(remember our &ltp&gt tag!), you would write the tag as follows:
            </p>
            <pre style="text-align: left">&ltp style="color:red"&gtSome text here&lt/p&gt</pre>
            <h4 class="underHeader">Internal Stylesheet</h4>
            <p>
                Another easy way to add style to a page is to put an internal stylesheet inside the head of the page. This is a neater method than
                inline styling. To use an internal stylesheet in the head section of your page. Below is an example of an internal stylesheet.
            </p>
            <pre style="text-align: left">&ltstyle&gt<br>    p: {<br>        color:red;<br>        font-size:12px;<br>    }<br>    h1: {<br>        color:blue;<br>    }<br>&lt/style&gt</pre>
            <p>
                The above code would be written in the head tag and would set the font color of all paragraphs to red and the font size to 12 pixels. This will
                also set the font color of any &lth1&gt tag to blue.
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/cssNav.html'"></div>
        </div>
    </div>
</div>