<div class="viewContainer">
    <div class="row">
        <div class="bigPage col-sm-4 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
        </div>
    </div>
    <div class="row">
        <h2 class="homeHeader">Welcome to KidCode, coding for kids!</h2>
        <div class="pageText">
            <p>This site still under construction, please check back soon! Check out this game I created while you wait!</p>
            <a href="/src/build/SecondBuild/SecondBuild.html" class="btn btn-danger" target="_blank">Play the game!</a>
        </div>
    </div>
</div>