<div class="viewContainer col-xs-12">
    <h2 class="homeHeader">DISCLAIMER</h2>
    <div class="pageText">
        <p>
            This website is created by me, Joe Wemyss for a college project. This project is not intended for any commercial purpose
            and any resemblance to any person or organisation, real or imaginary, is purely coincidental.
        </p>
    </div>
    <h2 class="homeHeader">Welcome to KidCode, coding for kids!</h2>
    <div class="pageText">
        <p>This site is designed </p>
    </div>
</div>