<!--This is the page within the html section that has the description of the
    how to get setup for html design-->
<div class="viewContainer htmlPage">
    <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
    <div class="row">
        <!--Content container-->
        <div class="pageText col-sm-7">
            <h3 class="subHeader">Setup for HTML</h3>

            <p>
                In order to begin designing webpages with HTML, no special tools are required. All you need is a text
                editor(such as Notepad)
                and a browser (such as Google Chrome).</p>

            <p> It may be difficult to write your HTML in Notepad but there are lots of free alternatives,
                such as <a href="https://notepad-plus-plus.org/download/v6.8.3.html" target="_blank">Notepad++</a> ,
                <a href="https://atom.io/" target="_blank">Atom</a> or <a href="http://www.sublimetext.com/">sublime</a>
                .
            </p>

            <p>
                For basic HTML design, any browser will work. I would recommend either
                <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a
                    href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla FireFox</a>.
            </p>

            <p>
                <strong>Once you have your text editor and browser installed, you're good to go!</strong>
            </p>

            <p>
                To test that everything is working correctly click the button below, right click and select <em>view
                page source</em>. Then copy the code into
                your text editor, save it as <em>something.html</em> (usually <em>index.html</em>) and open it with a
                browser. If you're set up correctly, you should see
                "Hello, World!" at the top of the screen.
            </p>
            <a class="btn btn-primary text-center" href="/src/partials/examples/example01.html"
               target="_blank">Example01</a>
            <br>

            <p>
                Once you have the file saved, open it with a browser. If you typed it correctly, you should see the
                words "Hello, World!" printed at the top of the screen.
            </p>

            <p>
                Now you've designed your first website! Congratulations!!
            </p>
        </div>
        <!--Navbar at the side-->
        <div class="col-sm-3 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/htmlNav.html'"></div>
        </div>

    </div>
</div>