<div class="viewContainer htmlPage">
    <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
    <div class="row">
        <div class="pageText col-sm-7">
            <h3 class="subHeader text-center">HTML Layout</h3>

            <p>
                This page will show the building blocks of HTML that every page must have.
            </p>
            <h4 class="underHeader text-center">The &lt!DOCTYPE html&gt tag</h4>
            <p>
                This tag is placed at the start of the HTML page. It tells the browser that you are using HTML5. This is
                what is known as an empty tag, which means that it doesn't have to be closed.
            </p>
            <h4 class="underHeader text-center">The &lthtml&gt tag</h4>
            <p>
                This pair of tags goes around the entire page, everything you write after this will go inside these
                tags. Remember, you can close
                a tag like this &lt/html&gt.
            </p>
            <h4 class="underHeader text-center">The &lthead&gt tag</h4>
            <p>
                This tag is used to hold some of the data about the page. This tag goes inside of the &lthtml&gt tag. An
                example of this is the &lttitle&gt tag. This tag is used to set the title of the
                page. The title is the name that you see in the top of the tab.
            </p>
            <br>
            <img src="/src/img/titlePic.PNG">
            <img src="/src/img/titleCode.PNG">
            <br>
            <br>
            <p>
                Above is an example of the title of a web page and the line of code used to set that title.
            </p>
            <h4 class="underHeader text-center">The &ltbody&gt tag</h4>
            <p>
                This tag is where the actual content of the web page goes. This tag also goes inside of the &lthtml&gt
                tag. It goes below the
                &lthead&gt tag.
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/htmlNav.html'"></div>
        </div>
    </div>
</div>