<div class="viewContainer htmlPage">
    <h2 class="homeHeader">Setup for Webdesign</h2>
    <div class="row">
        <div class="pageText col-sm-6 col-sm-offset-1">
            <p>
                In order to begin designing webpages with HTML, no special tools are required. All you need is a text editor(such as Notepad)
                and a browser (such as Google Chrome). It may be difficult to write your HTML in Notepad but there are lots of free alternatives,
                such as <a href="https://notepad-plus-plus.org/download/v6.8.3.html" target="_blank">Notepad++</a> and
                <a href="https://atom.io/" target="_blank">Atom</a>. A good paid alternative is <a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a>, which
                has an unlimited free trial. For a truly professional tool you could try <a href="http://www.adobe.com/ie/products/dreamweaver.html" target="_blank">Dreamweaver</a>
                or <a href="https://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a>, but these programs are quite expensive and are really not necessary for beginner designers.
            </p>
            <p>
                For basic HTML design, any browser will work. Internet Explorer already comes pre-loaded on every Windows machine. Safari is the default browser for OSX. Most Linux distros
                come with FireFox pre-installed. Any of these defaults will work fine, although Internet Explorer is not fully compatible with all features of HTML5. Good alternatives would be
                <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla FireFox</a>.
            </p>
            <p>
                <strong>Once you have your text editor and browser installed, you're good to go!</strong>
            </p>
            <p>
                To test that everything is working correctly, copy the following text into your text editor and save it as index.html (Ensure that the dropdown menu is set to "all files" or html
                document.
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/htmlNav.html'"></div>
        </div>
    </div>
</div>