<div class="viewContainer container">
    <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
    <h2 class="homeHeader">Disclaimer</h2>
    <div class="pageText">
        <ul class="sitemapListA">
            <li><a ui-sref="home">Home</aui-sref></li>
            <li><a ui-sref="html">HTML</a></li>
            <ul class="sitemapListB">
                <li><a ui-sref="html_setup">Setup</a></li>
                <li><a ui-sref="layout">Layout</a></li>
                <li><a ui-sref="basics">Basic</a></li>
                <li><a ui-sref="advanced">Advanced</a></li>
            </ul>
            <li><a>CSS</a></li>
            <ul class="sitemapListB">
                <li><a ui-sref="">Include</a></li>
                <li><a ui-sref="">Syntax</a></li>
                <li><a ui-sref="">Selectors</a></li>
                <li><a ui-sref="">Pseudo-Classes</a></li>
            </ul>
            <li><a>JavaScript</a></li>
            <ul class="sitemapListB">
                <li><a ui-sref="">Include</a></li>
                <li><a ui-sref="">Syntax</a></li>
                <li><a ui-sref="">Additional Resources</a></li>
                <li><a ui-sref="">Frameworks</a></li>
                <li><a ui-sref="">jQuery</a></li>
            </ul>
            <li class="sitemapNonLink">About</li>
            <ul class="sitemapListB">
                <li><a ui-sref="about">About this project</a></li>
                <li><a ui-sref="references">References</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a ui-sref="sitemap">Sitemap</a></li>
            </ul>
        </ul>
    </div>
</div>