<div class="list-group">
    <a ui-sref="cssInclude" class="list-group-item" ui-sref-active="active">
        <h4>Include</h4>
        <p>This section explains how to add CSS to your HTML code</p>
    </a>
    <a ui-sref="#" class="list-group-item" ui-sref-active="active">
        <h4>Syntax</h4>
        <p>This section explains the syntax of CSS</p>
    </a>
    <a ui-sref="#" class="list-group-item" ui-sref-active="active">
        <h4>Selectors</h4>
        <p>This section explains how to classes and id's to access specific bits of code</p>
    </a>
    <a ui-sref="#" class="list-group-item" ui-sref-active="active">
        <h4>Pseudo-classes</h4>
        <p>This sections explains the use of pseudo-classes with selectors</p>
    </a>
</div>
