<!--This is the footer that is fixed to the bottom of the screen-->
<div class="navbar navbar-default navbar-fixed-bottom" id="pageFooter">
    <div class="container">
        <p class="navbar-text pull-left">Site built as a college project by Joe Wemyss</p>
        <!--This is the button for the disclaimer, which will trigger the modal defined on the index page-->
        <button class="navbar-btn pull-right btn btn-default" href="#disclaimer" data-toggle="modal">Disclaimer</button>
    </div>
</div>