<div class="list-group">
    <a ui-sref="html_setup" class="list-group-item" ui-sref-active="active">
        <h4>Setup</h4>
        <p>This section explains how to get setup for HTML programming</p>
    </a>
    <a ui-sref="layout" class="list-group-item" ui-sref-active="active">
        <h4>Layout</h4>
        <p>This section explains how to properly layout the HTML page.</p>
    </a>
    <a ui-sref="basics" class="list-group-item" ui-sref-active="active">
        <h4>Basics</h4>
        <p>This section explains the basics of designing webpages with HTML</p>
    </a>
    <a ui-sref="advanced" class="list-group-item" ui-sref-active="active">
        <h4>Advanced</h4>
        <p>This section explains some of the more advanced aspects of HTML</p>
    </a>
</div>

