<!--This is the jumbotron that will show the name and tagline of the website-->
<div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <div class="row">
            <h1 class="jumboHeader">
                <!--Each span has an Id so that each color letter can be individually tweaked using css-->
                &lt<span id="jumboRed">K</span><span id="jumboOrange">i</span><span id="jumboYellow">d</span><span id="jumboGreen">C</span><span
                    id="jumboBlue">o</span><span id="jumboIndigo">d</span><span id="jumboViolet">e</span>&gt
            </h1>
        </div>
       <div class="row">
           <p class="jumboSubtitle"><strong><em>Teaching kids to code!</em></strong></p>
       </div>
    </div>
</div>