<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand">JW</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="html" class="navbar-btn">HTML</a> </li>
                <li ui-sref-active="active"><a ui-sref="css" class="navbar-btn">CSS</a></li>
                <li ui-sref-active="active"><a ui-sref="javascript" class="navbar-btn">JavaScript</a></li>
                <li class="dropdown">
                    <a href="#" class="navbar-btn dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="about">About this project</a> </li>
                        <li><a ui-sref="disclaimer">Disclaimer</a></li>
                        <li><a ui-sref="references">References</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>