<div class=" htmlPage">
    <div class="row">
        <div class="bigPage col-sm-11">
            <div ng-include="'/src/partials/templates/breadcrumb.html'"></div>
        </div>
    </div>
    <div class="row">
        <div class="pageText col-sm-7">
            <h3 class="subHeader text-center">CSS</h3>
            <p>
                CSS stands for <strong>C</strong>ascading <strong>S</strong>tyle <strong>S</strong>heets. CSS is used to apply
                styles to websites.
            </p>
            <p>
                When HTML is used to create a page, the data is presented without any formatting or style applied to it. This is where CSS
                comes in.
            </p>
            <p>
                CSS can be used to apply many different types of styles to websites such as colors, borders and other styles. The most recent
                version is CSS3, which works well with HTML5.
            </p>
            <p>
                It is important to remember that CSS can't be used to add any data to the screen. CSS is only used to apply formatting to any
                data already placed on the page.
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div ng-include="'/src/partials/templates/cssNav.html'"></div>
        </div>
    </div>
</div>