/*This is the styling for the breadcrumbs*/
div.bigPage {
  div.ng-scope {
	div.row {
	  div.insideBreadcrumb {
		/*This sets a margin to keep the breadcrumb down from the top of the container*/
		margin-top: 10px;
		ol.breadcrumb {
		  /*Minimise the space around the breadcrumb*/
		  padding: 0;
		  /*Set the background image to blend with the backgound of the container*/
		  background-image: url("../img/concrete_seamless.png");
		  /*Style the font of the breadcrumb*/
		  li {
			color: black;
			font-style: italic;
		  }
		}
	  }
	}
  }
}
