div.bigPage{
  div.ng-scope{
    div.row{
      div.insideBreadcrumb{
        margin-top: 10px;
        ol.breadcrumb{
          padding : 0;
          background-image: url("../img/concrete_seamless.png");
          li{
            color: black;
            font-style: italic;
          }
        }
      }
    }
  }
}
div.htmlPage{

}