/*This is the styling that is applied to most of the pages. It was origianlly intended to be used specifically for the html subsection of the
site but it ended up being used for common rules used throughout the site*/
div.htmlPage{
  /*Set padding on page*/
  padding: 20px;
  div.row{
    /*This is the 6 column div with the content*/
    div.pageText{
      /*SubHeader*/
      h3.subHeader{
        font-family: $headerFont01;
        color: $headerFontColor01;
        font-size: 2em;
      }
	  /*Style smaller headers*/
      h4.underHeader{
        color: $headerFontColor01;
        text-align: left;
      }
	  /*Style a pre tag*/
      pre.htmlExample{
        text-align: left;
      }
	  /*Style the table on the HTML advanced page*/
      table.htmlAdvancedTable{
        width : 100%;
        background-color: white;
        tr th{
          text-align: center;
        }
        tr th, tr td{
          border: solid black 1px;
        }
      }
    }
    /*Navbar at the side of the pages contained within the
    * html section of the site.*/
    div.col-sm-3{
      padding: 5px;
      div.ngScope{
        div.list-group{
          a:link.list-group-item.active{
            background-color: red;
          }
        }
      }
      div.htmlMenu{
        border: $containerBorder;
        border-radius: 25px;

        a{
          margin: 5px;
        }
      }
    }
  }
}