div.viewContainer.htmlPage{
  padding: 50px;
  div.row{
    /*This is the 6 column div with the content*/
    div.pageText{
      /*SubHeader*/
      h3.subHeader{
        font-family: "Allerta Stencil", cursive, sans-serif;
        color: $headerFontColor;
      }
      h4.underHeader{
        color: $headerFontColor;
        text-align: left;
      }
      pre.htmlExample{
        text-align: left;
      }
    }
    /*Navbar at the side of the pages contained within the
    * html section of the site.*/
    div.col-sm-3{
      padding: 5px;
      div.ngScope{
        div.list-group{
          a.list-group-item{
            background-color: red;
          }
        }
      }
      div.htmlMenu{
        border: $containerBorder;
        border-radius: 25px;

        a{
          margin: 5px;
        }
      }
    }
  }
}