div.viewContainer.htmlPage{
  h2.homeHeader{
    margin: 20px;
  }
  div.row{
    div.pageText{
      padding: $pageTextPadding;
    }
    div.col-sm-3{
      padding: 5px;
      div.ngScope{
        div.list-group{
          a.list-group-item{
            background-color: red;
          }
        }
      }
      div.htmlMenu{
        border: $containerBorder;
        border-radius: 25px;

        a{
          margin: 5px;
        }
      }
    }
  }
}