/*This is the styling for the jumbotron at the top of each page*/
div.jumbotron{
  /*These rules are applied to the entire jumbotron*/
  font-family: $jumboFont01;
  text-align: center;
  background-image: url("../img/concrete_seamless.png");
  background-color: white;
  padding: 5px;
  border: solid black 2px;
  /*This is the styling for the tagline on the jumbotron*/
  p.jumboSubtitle{
    font-size: 2em;
  }
  /*This is the styling for the actual kidcode text*/
  h1.jumboHeader{
	/*Enlarge the font*/
    font-size: $jumboFontSize;
	/*Put a 2px thick shadow around each letter*/
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	/*These seven spans represent each letter in the title. Most of them have two rules with one commented out. This is because I left the
	rules for the most popular alternate color scheme*/
    span#jumboRed{
      color: red;
    }
    span#jumboOrange{
      /*color: #E84000;*/   //red-yellow gradient
      color: orange;        //rainbow
    }
    span#jumboYellow{
      /*color: #E86500;*/   //red-yellow gradient
      color: yellow;        //rainbow
    }
    span#jumboGreen{
      /*color: #FF9700; */  //red-yellow gradient
      color: green;       //rainbow
    }
    span#jumboBlue{
      /*color: #FF9F00;*/   //red-yellow gradient
      color: blue;        //rainbow
    }
    span#jumboIndigo{
      /*color: #FFBD04;*/   //red-yellow gradient
      color: indigo;        //rainbow
    }
    span#jumboViolet{
      /*color: #FFD205;*/   //red-yellow gradient
      color: violet;        //rainbow
    }
  }

}