div.jumbotron{
  font-family: $jumboFont01;
  text-align: center;
  background-image: url("../img/concrete_seamless.png");
  background-color: white;
  padding: 5px;
  border: solid black 2px;
  p.jumboSubtitle{
    /*text-align: right;*/
    font-size: 2em;
  }
  h1.jumboHeader{
    font-size: $jumboFontSize;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /*text-align: left;*/
    span#jumboRed{
      color: red;
    }
    span#jumboOrange{
      color: #E84000;
    }
    span#jumboYellow{
      color: #E86500;
    }
    span#jumboGreen{
      color: #FF9700;
    }
    span#jumboBlue{
      color: #FF9F00;
    }
    span#jumboIndigo{
      color: #FFBD04;
    }
    span#jumboViolet{
      color: #FFD205;
    }
  }

}