div.viewContainer{
  div.pageText{
    ul.sitemapListA{
      text-align: justify;
      list-style-type: none;
      li.sitemapNonLink{
        color: gray;
      }
      ul.sitemapListB{
        list-style-type: none;
        padding-left: 80px;
      }
    }
  }
}