$backgroundColor : #ff2416;
$containerColor : #fff;
$containerBorder: ridged $backgroundColor 3px;
$headerFont01: "Permanent Marker";
$jumboFont01: 'Crafty Girls', cursive, sans-serif;
$jumboFontSize: 5em;
$pageFont : 'Amaranth';
$pageFontSize: 1.2em;
$pageTextPadding: 15px;
$headerFontColor: #1ab3b4;

@import "jumbotron";
@import "home";
@import "about";
@import "contact";
@import "html";
@import "viewContainer";

body{
  background-color: $backgroundColor;
  background-image: url("../img/congruent_pentagon.png");
  div.viewContainer{
    /*background-color: $containerColor;*/
    background-image: url("../img/concrete_seamless.png");
    text-align: center;
    border-radius: 20px;
    margin-bottom: 100px;
    border: solid $headerFontColor 2px;
    h2.homeHeader{
      margin: 20px;
      font-family: $headerFont01;
      color : $headerFontColor;
      font-size: 3em;
    }
    div.pageText{
      padding: $pageTextPadding;
      font-family: $pageFont;
      font-size: $pageFontSize;
    }
  }

}
