$backgroundColor : #b6ecff;
/*$backgroundColor : #fff3a4;*/
$containerColor : #fff;
$containerBorder: solid grey 3px;
$headerFont01: "Allerta Stencil";
$jumboFont01: 'Crafty Girls', cursive, sans-serif;
$jumboFontSize: 4.5em;
$pageFont : 'Amaranth';
$pageFontSize: 1.2em;
$pageTextPadding: 15px;
$headerFontColor: #08b41f;

@import "jumbotron";
@import "home";
@import "about";
@import "contact";
@import "html";

body{
  background-color: $backgroundColor;
  div.viewContainer{
    background-color: $containerColor;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 100px;
    h2.homeHeader{
      margin: 20px;
      font-family: $headerFont01;
      color : $headerFontColor;
      font-size: 3em;
    }
    div.pageText{
      padding: $pageTextPadding;
      font-family: $pageFont;
      font-size: $pageFontSize;
    }
  }

}
